<h1 class="ls-title-intro ls-ico-users">Usu치rios</h1>

<p><div class="ls-box-filter">
  <div class="ls-form ls-form-inline ls-float-left">     
    <%= form_tag(users_path, method: "get") do %>
      <label class="ls-label col-md-8 col-sm-8">
      <b class="ls-label-text"><%= label_tag :name, 'Busca por nome' %></b>
        <div class="ls-field-sm">
          <%= text_field_tag :name %>
        </div>
      </label>
      <div class="ls-actions-btn">
        <input type="submit" value="Buscar" class="ls-btn ls-btn-sm" title="BUscar">
      </div>
    <% end %>     
  </div>
</div></p>

<div class="row" >
  <div class="col-md-7">
    <div class="ls-box">

      <header class="ls-info-header">
        <h2 class="ls-title-3">Usu치rios cadastrados</h2>
      </header>

      <% if @users.any? %>
        <table class="ls-table">
        <thead>
          <tr>
            <th> Identificador </th>
            <th> Nome </th>
            <th> E-mail </th>
            <th> CPF </th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.id, user %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.cpf %></td>
          </tr>
        <% end %>
        </tbody>
        </table>
      <% else %>
        <p>Nenhum usu치rio cadastrado</p>
      <% end %>

    </div>
  </div>
</div>

<p><a href="<%= new_user_path %>" class="ls-ico-user-add ls-btn-primary">Cadastrar usu치rio</a></p>
<p><a href="<%= root_path %>" class="ls-ico-home ls-btn-primary">Voltar</a></p>
