<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-home">Página inicial</h1>

  <%= flash_message %>

  <p><div class="ls-box-filter">
    <div class="ls-form ls-form-inline ls-float-left">     
      <%= form_tag(root_path, method: "get") do %>
        <label class="ls-label col-md-6 col-sm-8">
        <b class="ls-label-text"><%= label_tag :currency, 'Filtro por moeda' %></b>
        <div class="ls-custom-select ls-field-sm">
          <div class="ls-select"><%= select_tag :currency, options_for_select([['Dólar', 'dollar'], ['Real', 'real']]) %></div>
        </div>
        </label>
        <div class="ls-actions-btn">
          <input type="submit" value="Filtrar" class="ls-btn ls-btn-sm" title="Filtrar">
        </div>
      <% end %>     
    </div>
  </div></p>

  
  <div class="row">
    <div class="col-md-6">
      <div class="ls-box">
        <header class="ls-info-header">
          <h2 class="ls-title-3">Transações do dia</h2>
          <a href="<%= transactions_path %>" class="ls-btn ls-btn-sm">Ver todas</a>
        </header>
        <% if @transactions.any? %>
          <table class="ls-table">
            <thead>
              <tr>
                <th> Identificador </th>
                <th> Quantidade </th>
                <th> Moeda </th>
                <th> Tipo </th>
                <th> Total </th>
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td><%= link_to transaction.id, transaction %></td>
                  <td><%= format("%.2f", transaction.amount) %></td>
                  <td><%= Transaction.en_to_ptbr(transaction.currency) %></td>
                  <td><%= Transaction.en_to_ptbr(transaction.transaction_type) %></td>
                  <td><%= "$ #{format("%.2f", transaction.set_total)}" %></td>
                </tr>
              <% end %>
              <tr>
                <td colspan="4"> Total agregado </td>
                <td><%= "$ #{format("%.2f", @transactions.sum(:total))}" %></td>  
              </tr>
            </tbody>
          </table>
      </div>
      <% else %>
        <p>Você ainda não possui transações cadastradas.</p>
      <% end %>
    </div>
  </div>

  <p><a href="<%= users_path %>" class="ls-btn-primary">Usuários</a></p>
  <p><a href="<%= new_transaction_path %>" class="ls-btn-primary">Registrar transação</a></p>
  <p><a href="<%= new_user_path %>" class="ls-btn-primary">Cadastrar usuário</a></p>
</div>