<h1 class="ls-title-intro ls-ico-location">Cadastrar Endereço</h1>
<%= flash_message %>

<div class="col-md-5">
<div class="ls-box">
  <div class="ls-form">
    <%= form_for @address do |f| %>
      <div class="ls-label col-md-11">
        <%= f.label :street, 'Rua:' %>
        <p class="ls-label-info">Rua e bairro no qual reside</p>
        <%= f.text_field :street, placeholder: "O nome da sua rua" %>
      </div>
      <div class="ls-label col-md-11">
        <%= f.label :city, 'Cidade:' %>
        <p class="ls-label-info">Nome da sua cidade</p>
        <%= f.text_field :city, placeholder: "Sua cidade" %>
      </div>
      <div class="ls-label col-md-11">
        <%= f.label :state, 'Estado:' %>
        <%= f.text_field :state, placeholder: "Insira o nome do seu estado" %>
      </div>
      <div class="ls-label col-md-11">
        <%= f.label :neighbourhood, 'Vizinhança:' %>
        <%= f.text_field :neighbourhood, placeholder: "Sua vizinhança" %>
      </div>
      <div class="ls-label col-md-11">
        <%= f.label :postal_code, 'CEP:' %>
        <p class="ls-label-info">Insira o número do seu código postal</p>
        <%= f.text_field :postal_code, placeholder: "Código postal" %>
      </div>
      <p class="ls-actions-btn">
        <input type="submit" value="Cadastrar" class="ls-btn ls-btn-sm" title="Cadastrar">
      </p>
    <% end %>
  </div>
</div>
</div>

