<h1 class="ls-title-intro ls-ico-stats">Editar transação</h1>
<%= flash_message %>

<div class="col-md-5">
<div class="ls-box">
  <div class="ls-form">
    <%= form_for @transaction do |f| %>
      <div class="ls-label col-md-11">
        <%= f.label :amount, 'Quantidade' %>
        <p class="ls-label-info">Insira o valor desejado</p>
        <%= f.text_field :amount, placeholder: "Insira o montante" %>
      </div>
      <div class="ls-label col-md-11">
        <%= f.label :currency, 'Moeda' %>
        <p class="ls-label-info">Selecione uma moeda</p>
        <div class="ls-custom-select ls-field-sm col-md-5">
          <%= f.select :currency, [['Dólar','dollar'], ['Real','real']] %>
        </div>
      </div>
      <div class="ls-label col-md-11">
        <%= f.label :quotation, 'Cotação' %>
        <p class="ls-label-info">Valor atual da cotação</p>
        <%= f.text_field :quotation, placeholder: "Digite um valor" %>
      </div>
      <div class="ls-label col-md-11">
        <%= f.label :transaction_type, 'Tipo' %>
        <p class="ls-label-info">Escolha o tipo da transação</p>
        <div class="ls-custom-select ls-field-sm col-md-5">
          <%= f.select :transaction_type, [['Compra', 'buy'], ['Venda', 'sell']] %>
        </div>
      </div>
      <div class="ls-label col-md-11">
        <%= f.label :user_id, 'Usuário' %>
        <div class="ls-custom-select ls-field-sm col-md-5">
          <%= f.collection_select :user_id, @users, :id, :email %>
        </div>
      </div>
      <p class="ls-actions-btn"><input type="submit" value="Editar" class="ls-btn ls-btn-sm" title="Editar"></p>
    <% end %>
  </div>
</div>
</div>
