<h3>Registrar nova transação</h3>
<%= flash_message %>
<%= form_for @transaction do |f| %>
  <p><%= f.label :amount, 'Quantidade: ' %>
  <%= f.text_field :amount %></p>
  <p><%= f.label :currency, 'Moeda: ' %>
  <%= f.select :currency, [['Dólar','dollar'], ['Real','real']] %></p>
  <p><%= f.label :quotation, 'Cotação: ' %>
  <%= f.text_field :quotation %></p>
  <p><%= f.label :transaction_type, 'Tipo: ' %>
  <%= f.select :transaction_type, [['Compra', 'buy'], ['Venda', 'sell']] %></p>
  <p><%= f.label :user_id, 'Usuário: ' %>
  <%= f.collection_select :user_id, @users, :id, :email %></p>
  <p><%= f.submit 'Cadastrar' %></p>
<% end %>
