<h3>Identificador</h3>
<p><%= @transaction.id %></p>
<h3>Quantidade</h3>
<p><%= number_with_precision(@transaction.amount, :precision => 2) %></p>
<h3>Moeda</h3>
<p><%= Transaction.en_to_ptbr(@transaction.currency) %></p>
<h3>Cotação</h3>
<p><%= "$ #{number_with_precision(@transaction.quotation, :precision => 2)}" %></p>
<h3>Tipo</h3>
<p><%= Transaction.en_to_ptbr(@transaction.transaction_type) %></p>
<h3>Data</h3>
<p><%= @transaction.date %></p>
<h3>Total</h3>
<p><%= "$ #{number_with_precision(@transaction.total, :precision => 2)}" %></p>

<%= link_to 'Voltar', root_path %>