<!DOCTYPE html>
<html class="ls-theme-green">
  <head>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <title>Casa de Câmbio</title>

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Casa de câmbio">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Insert the CSS in HEAD -->
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/3.10.0/stylesheets/locastyle.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <aside class="ls-sidebar">
      <div class="ls-sidebar-inner">
          
        <nav class="ls-menu">
          <ul>
            <li><%= link_to 'Página inicial', root_path, class: 'ls-ico-home' %></li>
            <li><%= link_to 'Transações', transactions_path, class: 'ls-ico-stats' %></li>
            <li><%= link_to 'Usuários', users_path, class: 'ls-ico-users' %></li>
            <li><%= link_to 'Registro de transação', new_transaction_path, class: 'ls-ico-plus' %></li>
            <li><%= link_to 'Cadastro de usuários', new_user_path, class: 'ls-ico-user-add' %></li>
            <li><%= link_to 'Cadastro de endereço', new_address_path, class: 'ls-ico-location' %></li>
          </ul>
        </nav>

      </div>
    </aside>

    <div class="ls-topbar">

      <span class="ls-show-sidebar ls-ico-menu"></span>
      <a href="<%= root_path %>"  class="ls-go-next"><span class="ls-text">Voltar à página inicial</span></a>

      <h1 class="ls-brand-name"> 
        <a href="<%= root_path %>" class="ls-ico-earth">
          <small>Bem-vindo ao sistema de trocas de moedas </small>
          Casa de Câmbio 
        </a>
      </h1>
    </div>

    <main class="ls-main ">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

    <script src="http://code.jquery.com/jquery-2.0.1.min.js">
    <script src="//assets.locaweb.com.br/locastyle/3.10.0/javascripts/locastyle.js"></script>
  </body>
</html>
